body{
    font-family: sans-serif;
}

.box{
    /*position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);*/
    /*width:400px;
    /*background: #ffffff;*/
    /*padding:40px;*/
    /*padding-left: 10px;
    padding-right: 10px;
    /*box-sizing: border-box;*/
    /*border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius:8px;*/
    /*vertical-align: middle;*/
}

.box h2{
    margin: 0 0 40px;
    padding: 0;
    color: #2b0c0c;
    text-transform: uppercase;
    text-align: center;
}

.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.box input,
.box select{
    padding: 10px 0;
    margin-bottom: 30px;
}


.box input,
.box select{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999; 
}
 
.box form div{
    position: relative;
}

.box form div label{
    position:absolute;
    top:10px;
    left:0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.box select:valid ~ label,
.box select:focus ~ label,
.box input:valid ~ label,
.box textarea:valid ~ label,
.box input:focus ~ label,
.box textarea:focus ~ label
{
    top: -12px;
    left: 0;
    color: #13c45d;
    font-size: 12px;
    font-weight: bold;
}

/*.box select:valid ~ label,
.box select:focus ~ label
{
    top: -12px;
    left: 0;
    color: #2b0c0c;
    font-size: 12px;
    font-weight: bold;
}*/


.box input:focus,
.box textarea:focus,
.box select:focus,
.box select:valid,
.box input:valid,
.box textarea:valid
{
    border-bottom: 2px solid #13c45d;
}

.box input[type = "submit"]{
    transition:0.25s;
    border-bottom: none;
    cursor:pointer;
    background: #13c45d;
    color:#fff;
    margin-bottom: 0;
    text-transform: uppercase;
    border-radius: 24px;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
} 


.sidebar{
    background-color: black;
}




/*h1 {
    color: green;
//}*/

.xyz {
    background-size: auto;
    text-align: center;
    padding-top: 100px;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}


/* not required */
*,:active{
	outline: none;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	margin: 20px;
	background-color: #EEEDE9;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 96.5%;
	font-family: Helvetica, Arial, sans-serif;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* required */
.calendar{
	position: absolute;
	border-radius: 4px;
	overflow: hidden;
	width: 800px;
	height: 450px;
	left: 50%;
	margin-left: -400px;
	margin-top: -225px;
	top: 50%;
	background-color: #ffffff;
	color: #333333;
}

.calendar h1, .calendar h2{
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 40%;
	background-color: #F48989;
}

.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 14px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes input{
	background-color: #F48989;
	color: #ffffff;
	border: none;
	width: 200px;
}

.calendar .addNote,
.calendar .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
	color: #ffffff;
}

.calendar .addNote{
	font-size: 16px;
}

.calendar .leftCol h1{
	color: #ffffff;
	margin-bottom: 40px;
}

.calendar .rightCol{
	width: 60%;
}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
	float: left;
	text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
	display: block;
	color: #747978;
}

.calendar .months li a{
	font-size: 10px;
	color: #C7BEBE;
	text-align: center;
	width: 32px;
	margin-bottom: 20px;
}

.calendar .months li .selected{
	font-weight: bold;
	color: #747978;
}

.calendar .weekday li a{
	width: 55px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

.calendar .days li{
	width: 55px;
}

.calendar .days li a{
	width: 36px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}


.calendar .days li a:hover{
	background-color: #EEEDE9;
}

.calendar .days li .selected{
	background-color: #F5A1A3!important;
	color: #ffffff;
}

.calendar .days li .event{
	color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }