@model Teachers.Models.Teacher

@{
    Layout = null;
    ViewBag.Title = "ForgotPassword";
}



<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Login</title>
    <link href="~/Content/LoginStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="~/Content/assets/img/checks_icon.png" />
</head>


<body>

    <div class="left_side">
        <img src="~/Images/logo_rside.png" class="logo_image" />
        <p class="quote">"Education is the most powerful weapon which you can use to change the world."</p>
        <p class="quote_author">-Nelson Mandela</p>
    </div>


    <div class="box">
        <h2 width="40px" height="40px" class="text-center">Forgot Password</h2>
        <br />
        <!--This is just a confirmation that the link has been sent-->
        <p>Reset password link has been sent to your email.</p>

        <!--Please make this button go back to the login-->
        @Html.ActionLink("Login", "Login", "Teachers", new { @class = "btn btn-success one-third first button" })


        <!--
    <form>
        <div>
            <input type="email" name="email">
            <label>Email</label>
        </div>

        <input type="submit" name="" value="Reset Password">
    </form>
    -->
    </div>


</body>


</html>