@{
    ViewBag.Title = "Home";
    ViewBag.Heading = Session["surname"].ToString();
}


<div class="content">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <a href="ViewAssessments/?class_id=@item.ClassID">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-category">Grade @item.grade_number</h5>
                            <h2>@item.subject_name</h2>
                        </div>
                        <!--div class="card-body">
                            <p>Assessments Available</p>
                        </div-->
                    </div>
                </a>
            </div>
        }
    </div>
</div>
